In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
csv_file = "Resources/wine-data.csv"
wine_data_df = pd.read_csv(csv_file)
wine_data_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [8]:
new_wine_data_df = wine_data_df[['country', 'points', 'price', 'province', 'variety']].copy()
new_wine_data_df.head()

  country  points  price        province             variety
0      US      96  235.0      California  Cabernet Sauvignon
1   Spain      96  110.0  Northern Spain       Tinta de Toro
2      US      96   90.0      California     Sauvignon Blanc
3      US      96   65.0          Oregon          Pinot Noir
4  France      95   66.0        Provence  Provence red blend

In [13]:
csv_file = "Resources/wine-production.csv"
wine_data_df = pd.read_csv(csv_file)
wine_data_df.head()

         country  wineProduction  wineProductionGallons     pop2020
0          Italy         4250000                1122731   60461.826
1         France         3641900                 962088   65273.511
2          Spain         3248000                 858030   46754.778
3  United States         2333900                 616551  331002.651
4      Australia         1369000                 361651   25499.884

In [15]:
#df1.merge(df2,on='name').merge(df3,on='name')
merged_df = wine_data_df.merge(new_wine_data_df, on='country')
merged_df

,country,wineProduction,wineProductionGallons,pop2020,points,price,province,variety
0,Italy,4250000,1122731,60461.826,95,80.0,Northeastern Italy,Friulano
1,Italy,4250000,1122731,60461.826,90,NaN,Tuscany,Sangiovese
2,Italy,4250000,1122731,60461.826,90,135.0,Tuscany,Sangiovese
3,Italy,4250000,1122731,60461.826,90,29.0,Tuscany,Sangiovese
4,Italy,4250000,1122731,60461.826,90,23.0,Tuscany,Sangiovese
...,...,...,...,...,...,...,...,...
88505,Lithuania,4100,1083,2722.289,84,10.0,Lithuania,Sparkling Blend
88506,Lithuania,4100,1083,2722.289,85,10.0,Lithuania,Sparkling Blend
88507,Lithuania,4100,1083,2722.289,84,10.0,Lithuania,Sparkling Blend
88508,Lithuania,4100,1083,2722.289,84,10.0,Lithuania,Sparkling Blend
88509,Lithuania,4100,1083,2722.289,84,10.0,Lithuania,Sparkling Blend

In [19]:
csv_file = "Resources/wine-consumption.csv"
wine_df = pd.read_csv(csv_file)
wine_new_df = wine_df.rename({'Entity': 'country'})
wine_new_df.head()

,Entity,Code,"Indicator:Alcohol, consumption of pure alcohol by type of beverage (%) - Beverage Types:Wine"
0,Albania,ALB,19.8
1,Algeria,DZA,35.5
2,Andorra,AND,45.3
3,Angola,AGO,13.7
4,Antigua and Barbuda,ATG,16.4

In [17]:
new_merged_df = wine_df.merge(merged_df, on='country')
new_merged_df

KeyError: 'country'