In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
wine_data_file = "Resources/wine-data.csv"
# File to Load (Remember to Change These)
wine_production_file = "Resources/wine-production.csv"
# File to Load (Remember to Change These)
wine_consumption_file= "Resources/wine-consumption.csv"
# File to Load (Remember to Change These)
world_temperature_file= "Resources/world_temperature.csv"

In [3]:
data_df = pd.read_csv(wine_data_file)
data_df
production_df = pd.read_csv(wine_production_file)
production_df 
consumption_df = pd.read_csv(wine_consumption_file)
consumption_df
temperature_df = pd.read_csv(world_temperature_file)
temperature_df

          Country Average yearly temperature (1961–1990, degrees Celsius)
0    Burkina Faso                                              28.29
1            Mali                                              28.25
2        Kiribati                                              28.20
3        Djibouti                                              28.00
4          Tuvalu                                              28.00
..            ...                                                ...
186    Kyrgyzstan                                              01.55
187        Norway                                              01.50
188      Mongolia                                              −0.70
189        Russia                                              −5.10
190        Canada                                              −5.35

[191 rows x 2 columns]

In [4]:
data_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [5]:
#rename columns in consumption_df to match ERD
consumption_df.rename(columns={"Entity": "country", "Code": "country_code",
        "Indicator:Alcohol, consumption of pure alcohol by type of beverage (%) - Beverage Types:Wine": "pct_wine_consumption"
                                         }, inplace=True)
consumption_df.head()

               country country_code  pct_wine_consumption
0              Albania          ALB                  19.8
1              Algeria          DZA                  35.5
2              Andorra          AND                  45.3
3               Angola          AGO                  13.7
4  Antigua and Barbuda          ATG                  16.4

In [6]:
#rename columns in production_df to match ERD
production_df.rename(columns={"country": "country", "wineProduction": "volume", "pop2020":"population"
                             }, inplace=True)

In [7]:
#rename columns in temperature_df to match ERD
temperature_df.columns = ["country", "avg_temp"] 
temperature_df.head()

        country avg_temp
0  Burkina Faso    28.29
1          Mali    28.25
2      Kiribati    28.20
3      Djibouti    28.00
4        Tuvalu    28.00

In [8]:
# unique_data = pd.Series(data_df["country"].unique())
unique_data = data_df["country"].unique()
print (unique_data)

['US' 'Spain' 'France' 'Italy' 'New Zealand' 'Bulgaria' 'Argentina'
 'Australia' 'Portugal' 'Israel' 'South Africa' 'Greece' 'Chile' 'Morocco'
 'Romania' 'Germany' 'Canada' 'Moldova' 'Hungary' 'Austria' 'Croatia'
 'Slovenia' nan 'India' 'Turkey' 'Macedonia' 'Lebanon' 'Serbia' 'Uruguay'
 'Switzerland' 'Albania' 'Bosnia and Herzegovina' 'Brazil' 'Cyprus'
 'Lithuania' 'Japan' 'China' 'South Korea' 'Ukraine' 'England' 'Mexico'
 'Georgia' 'Montenegro' 'Luxembourg' 'Slovakia' 'Czech Republic' 'Egypt'
 'Tunisia' 'US-France']

In [9]:
# production_df 
# unique_prod = pd.Series(production_df["country"].unique())
unique_prod = production_df["country"].unique()
print (unique_prod)

['Italy' 'France' 'Spain' 'United States' 'Australia' 'Argentina' 'China'
 'South Africa' 'Chile' 'Germany' 'Portugal' 'Russia' 'Romania' 'Brazil'
 'Hungary' 'New Zealand' 'Greece' 'Austria' 'Ukraine' 'Moldova' 'Bulgaria'
 'Serbia' 'Georgia' 'Japan' 'Switzerland' 'Peru' 'Croatia' 'Uruguay'
 'Czech Republic' 'Turkey' 'Canada' 'Algeria' 'Slovenia' 'Turkmenistan'
 'Mexico' 'Uzbekistan' 'Macedonia' 'Morocco' 'Belarus' 'Slovakia'
 'Tunisia' 'Kazakhstan' 'India' 'Israel' 'Albania' 'Montenegro' 'Estonia'
 'Cuba' 'Cyprus' 'Azerbaijan' 'Lebanon' 'Armenia' 'Luxembourg' 'Bolivia'
 'Madagascar' 'Bosnia And Herzegovina' 'Egypt' 'Lithuania'
 'United Kingdom' 'Latvia' 'Zimbabwe' 'Malta' 'Kyrgyzstan' 'Paraguay'
 'Ethiopia' 'Belgium' 'Panama' 'Tajikistan' 'Syria']

In [10]:
 #consumption_df
unique_consump = consumption_df["country"].unique()
print (unique_consump)

['Albania' 'Algeria' 'Andorra' 'Angola' 'Antigua and Barbuda' 'Argentina'
 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei' 'Bulgaria'
 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba'
 'Cyprus' 'Czech Republic' 'Democratic Republic of Congo' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti'
 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Lithuania' 'Luxembourg' 'Macedonia' 'Madagascar' 'Malawi'
 'Malaysia' 'Mali' 'Malta' 'Mauritius' 'Mexico' 'Micronesia (country)'
 'Moldova' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar'
 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger'
 'Nigeria' 'Niue' 'Norway' 'Oman' 'Palau' 'Panama' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania'
 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'South Africa' 'South Korea'
 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Swaziland' 'Sweden' 'Switzerland'
 'Syria' 'Tajikistan' 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'United States'
 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam' 'Yemen' 'Zambia'
 'Zimbabwe']

In [11]:
# temperature_df
unique_temp = temperature_df["country"].unique()
print (unique_temp)

['Burkina Faso' 'Mali' 'Kiribati' 'Djibouti' 'Tuvalu' 'Senegal'
 'Mauritania' 'Maldives' 'Palau' 'Benin' 'Gambia' 'Marshall Islands'
 'Ghana' 'Bahrain' 'Niger' 'Qatar' 'Seychelles' 'Togo' 'Somalia'
 'United Arab Emirates' 'Sri Lanka' 'Sudan' 'Brunei' 'Cambodia' 'Nigeria'
 'Saint Vincent and the Grenadines' 'Guinea-Bissau' 'Samoa' 'Grenada'
 'Chad' 'Singapore' 'Ivory Coast' 'Thailand' 'Sierra Leone'
 'Antigua and Barbuda' 'Barbados' 'Guyana' 'Indonesia'
 'Federated States of Micronesia' 'Philippines' 'Trinidad and Tobago'
 'Guinea' 'Suriname' 'Solomon Islands' 'Oman' 'Comoros' 'Eritrea'
 'Saint Lucia' 'Malaysia' 'Panama' 'Belize' 'Kuwait' 'Venezuela' 'Liberia'
 'Timor-Leste' 'Papua New Guinea' 'Tonga' 'Cuba' 'Gabon' 'Bangladesh'
 'Brazil' 'Jamaica' 'Central African Republic' 'Haiti' 'Vietnam'
 'Nicaragua' 'Bahamas' 'Costa Rica' 'Kenya' 'Saudi Arabia' 'Cameroon'
 'Republic of the Congo' 'Dominican Republic' 'Equatorial Guinea'
 'Colombia' 'Saint Kitts and Nevis' 'El Salvador' 'Fiji'
 'Democratic Republic of the Congo' 'Vanuatu' 'Yemen' 'Mozambique'
 'São Tomé and Príncipe' 'India' 'Paraguay' 'Honduras' 'Guatemala'
 'Cape Verde' 'Laos' 'Uganda' 'Madagascar' 'Mauritius' 'Dominica'
 'Tanzania' 'Ethiopia' 'Egypt' 'Malawi' 'Ecuador' 'Libya' 'Australia'
 'Angola' 'Bolivia' 'Botswana' 'Iraq' 'Eswatini' 'Zambia' 'Mexico'
 'Zimbabwe' 'Pakistan' 'Namibia' 'Burundi' 'Peru' 'Israel' 'Malta'
 'Cyprus' 'Jordan' 'Rwanda' 'Algeria' 'South Africa' 'Syria' 'Uruguay'
 'Iran' 'Morocco' 'Lebanon' 'Tunisia' 'Portugal' 'Turkmenistan'
 'Argentina' 'Monaco' 'Greece' 'Italy' 'Spain' 'Myanmar' 'Afghanistan'
 'Uzbekistan' 'Azerbaijan' 'Lesotho' 'San Marino' 'South Korea' 'Albania'
 'Japan' 'Croatia' 'France' 'Montenegro' 'Bulgaria' 'New Zealand' 'Serbia'
 'Turkey' 'Bosnia and Herzegovina' 'North Macedonia' 'Hungary' 'Belgium'
 'Moldova' 'Ireland' 'Netherlands' 'Slovenia' 'Romania' 'Luxembourg'
 'United States' 'Germany' 'Chile' 'United Kingdom' 'Ukraine' 'Nepal'
 'Poland' 'Andorra' 'Czech Republic' 'Bhutan' 'Armenia' 'China' 'Slovakia'
 'Kazakhstan' 'Austria' 'Belarus' 'Lithuania' 'Georgia' 'North Korea'
 'Liechtenstein' 'Latvia' 'Switzerland' 'Estonia' 'Denmark' 'Sweden'
 'Tajikistan' 'Iceland' 'Finland' 'Kyrgyzstan' 'Norway' 'Mongolia'
 'Russia' 'Canada']

In [12]:
countries_wine_data = data_df["country"]
countries_wine_data_df = pd.DataFrame(countries_wine_data)

In [13]:
countries_production = production_df["country"]
countries_production_df = pd.DataFrame(countries_production)

In [14]:
countries_consumption = consumption_df["country"]
countries_consumption_df = pd.DataFrame(countries_consumption)

In [15]:
countries_temp = temperature_df["country"]
countries_temp_df = pd.DataFrame(countries_temp)

In [16]:
## Make list of countries lists
countries_list = [countries_wine_data_df,countries_production_df, countries_consumption_df, countries_temp_df]

In [17]:
## Make comprehensive dataframe of countries
countries_df = pd.concat(countries_list)

In [18]:
## drop duplicate countries

countries_clean_df = countries_df.drop_duplicates(subset=['country'])

In [19]:
countries_clean_df

             country
0                 US
1              Spain
4             France
10             Italy
25       New Zealand
..               ...
133      Afghanistan
137       San Marino
149  North Macedonia
176      North Korea
177    Liechtenstein

[207 rows x 1 columns]

In [20]:
## reference
# production_df 
# consumption_df
# temperature_df

In [21]:
# # drop Country Mauritania from temperatures
# temperature_df_clean = temperature_df.loc[temperature_df['country'] != 'Mauritania']

In [22]:
# # check that country Mauritania has been removed from temperatures
# temperature_df_clean.head(10)

In [23]:
production_df['country'] = production_df['country'].replace(['Bosnia And Herzegovina'],'Bosnia and Herzegovina')

In [24]:
data_df['country'] = data_df['country'].replace(['US'],'United States')

In [25]:
data_df['country'] = data_df['country'].replace(['England'],'United Kingdom')

In [26]:
# check to see how values for values that were null for country
data_df.iloc[135696]

Unnamed: 0                                                135696
country                                                      NaN
description    From first sniff to last, the nose never makes...
designation                                         Piedra Feliz
points                                                        81
price                                                         15
province                                                     NaN
region_1                                                     NaN
region_2                                                     NaN
variety                                               Pinot Noir
winery                                                   Chilcas
Name: 135696, dtype: object

In [27]:
## This will check for just rows with null values based on countries column 
data_df[data_df["country"].isnull()]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
1133,1133,NaN,Delicate white flowers and a spin of lemon pee...,Askitikos,90,17.0,NaN,NaN,NaN,Assyrtiko,Tsililis
1440,1440,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Red Blend,Büyülübağ
68226,68226,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
113016,113016,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
135696,135696,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas

In [28]:
## FIND rows where designation is blank - **** 45735 ROWS *****
data_df[data_df["designation"].isnull()]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
36,36,France,Gingery spice notes accent fresh pear and melo...,NaN,90,60.0,Rhône Valley,Châteauneuf-du-Pape,NaN,Rhône-style White Blend,Clos de L'Oratoire des Papes
37,37,Italy,"Aromas of forest floor, violet, red berry and ...",NaN,90,29.0,Tuscany,Vino Nobile di Montepulciano,NaN,Sangiovese,Avignonesi
38,38,Italy,"This has a charming nose that boasts rose, vio...",NaN,90,23.0,Tuscany,Chianti Classico,NaN,Sangiovese,Casina di Cornia
48,48,Italy,"Ripe dark-skinned berry, forest floor and cook...",NaN,90,50.0,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Brunelli Martoccia
49,49,United States,"The aromas of blue fruit, herbs and spice are ...",NaN,90,40.0,Washington,Red Mountain,Columbia Valley,Cabernet Sauvignon,Canvasback
...,...,...,...,...,...,...,...,...,...,...,...
150904,150904,Chile,A lot of Chilean Cabernets seem to have a dist...,NaN,81,10.0,Maipo Valley,NaN,NaN,Cabernet Sauvignon,De Martino
150910,150910,France,Scents of graham cracker and malted milk choco...,NaN,89,38.0,Burgundy,Chambolle-Musigny,NaN,Pinot Noir,Michel Gros
150913,150913,France,"Inky and rustic, yet in a refined manner. This...",NaN,94,30.0,Rhône Valley,Châteauneuf-du-Pape,NaN,Rhône-style Red Blend,Le Vieux Donjon
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [29]:
## drop rows where country is blank and designation is blank 
data_df.dropna(subset = ["country", "designation"], inplace=True)
data_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,United States,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,United States,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,United States,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [30]:
# recheck for blanks /null values in both fields
data_df[data_df["country"].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, country, description, designation, points, price, province, region_1, region_2, variety, winery]
Index: []

In [31]:
# recheck for blanks /null values in both fields
data_df[data_df["designation"].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, country, description, designation, points, price, province, region_1, region_2, variety, winery]
Index: []

In [32]:
# check for region_1 null values
data_df[data_df["region_1"].isnull()]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
25,25,New Zealand,"Yields were down in 2015, but intensity is up,...",Maté's Vineyard,94,57.0,Kumeu,NaN,NaN,Chardonnay,Kumeu River
30,30,Bulgaria,This Bulgarian Mavrud presents the nose with s...,Bergulé,90,15.0,Bulgaria,NaN,NaN,Mavrud,Villa Melnik
42,42,United States,This is an aromatic brooder with aromas of sco...,Private Reserve,90,55.0,Idaho,NaN,NaN,Petite Sirah,Huston
74,74,Portugal,It is the ripe dark Alicante Bouschet that dom...,Premium,91,15.0,Alentejo,NaN,NaN,Portuguese Red,Adega Cooperativa de Borba
81,81,Israel,"Dark red violet in color, this wine has aromas...",Reserve,91,25.0,Upper Galilee,NaN,NaN,Cabernet Sauvignon,Binyamina
...,...,...,...,...,...,...,...,...,...,...,...
150900,150900,Chile,"Aromas of freshly cut lumber, complete with so...",Prima Reserva,81,13.0,Maipo Valley,NaN,NaN,Cabernet Sauvignon,De Martino
150901,150901,Chile,"Lavishly oaked, the fruit here struggles to ma...",Reserva,81,12.0,Maipo Valley,NaN,NaN,Merlot,Undurraga
150902,150902,Chile,This medium weight Chardonnay offered aromas o...,Estate Bottled,81,10.0,Maipo Valley,NaN,NaN,Chardonnay,De Martino
150903,150903,Chile,Very light berry and mint aromas open this aus...,120,81,7.0,Rapel Valley,NaN,NaN,Cabernet Sauvignon,Santa Rita
150905,150905,Chile,There's not much point in making a reserve-sty...,Prima Reserva,80,13.0,Maipo Valley,NaN,NaN,Merlot,De Martino

In [33]:
data_df.region_1.fillna(data_df.province, inplace=True)

In [34]:
## create tables from data_init_df dataframe (wine-data csv)
regions = data_df[["province","region_1"]]

In [35]:
## create tables from data_init_df dataframe (wine-data csv)
region_2 = data_df[["region_2"]]

In [36]:
## create tables from data_init_df dataframe (wine-data csv)
provinces = data_df[["country", "province"]]

In [37]:
## create tables from data_init_df dataframe (wine-data csv)
wine_data = data_df[["description", "designation", "points", "price", "province", "region_1", "region_2", 
                       "variety", "winery"]]

In [38]:
# # create tables from consumption_df (wine-consumption csv)
# countries_clean_df = consumption_df[["country", "country_code"]]

In [39]:
wine_consumption = consumption_df[["country", "pct_wine_consumption"]]

In [40]:
# create tables from production_df (wine-production csv)
wine_production = production_df[["country", "volume", "population"]]
wine_production.head()

         country   volume  population
0          Italy  4250000   60461.826
1         France  3641900   65273.511
2          Spain  3248000   46754.778
3  United States  2333900  331002.651
4      Australia  1369000   25499.884

In [41]:
#create tables from temperature_df 
temperature2_df = temperature_df[["country", "avg_temp"]]
temperature2_df.head()

        country avg_temp
0  Burkina Faso    28.29
1          Mali    28.25
2      Kiribati    28.20
3      Djibouti    28.00
4        Tuvalu    28.00

In [42]:
## Assign index as unique wine_id 
wine_data.index.names = ["wine_id"]

In [43]:
wine_data

,description,designation,points,price,province,region_1,region_2,variety,winery
wine_id,,,,,,,,,
0,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...
150923,"Rich and toasty, with tiny bubbles. The bouque...",Demi-Sec,91,30.0,Champagne,Champagne,NaN,Champagne Blend,Jacquart
150924,"Really fine for a low-acid vintage, there's an...",Diamant Bleu,91,70.0,Champagne,Champagne,NaN,Champagne Blend,Heidsieck & Co Monopole
150926,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset

In [44]:
#get unique values region_1 key
regions_clean = regions.drop_duplicates(subset=['region_1'])

In [45]:
#get unique values region_2 key
region_2_clean = region_2.drop_duplicates(subset=['region_2'])

In [46]:
#get unique values for provinces
provinces_clean = provinces.drop_duplicates(subset=['province'])

In [47]:
#remove NaN values from regions table
regions_clean2 = regions_clean.dropna(subset = ['region_1'])

In [48]:
#remove NaN values from regions_2 table
region_2_clean2 = region_2_clean.dropna(subset = ['region_2'])

In [49]:
#remove NaN values from province table
provinces_clean2 = provinces_clean.dropna(subset = ['province'])

In [50]:
countries_clean_df.to_csv("Tables/countries.csv", index=False, header=True)
wine_data.to_csv("Tables/wine_data.csv", index=True, header=True) 
wine_consumption.to_csv("Tables/wine_consumption.csv", index=False, header=True)
wine_production.to_csv("Tables/wine_production.csv", index=False, header=True)
temperature2_df.to_csv("Tables/temperature.csv", index=False, header=True)
regions_clean2.to_csv("Tables/regions.csv", index=False, header=True)
region_2_clean2.to_csv("Tables/region_2.csv", index=False, header=True)
provinces_clean2.to_csv("Tables/provinces.csv", index=False, header=True)